debugpy==1.8.12
decorator==5.1.1
ipykernel==6.29.5
ipython==8.32.0
keras==3.8.0
Markdown==3.7
markdown-it-py==3.0.0
pandas==2.2.3
scipy==1.15.1
Flask==3.1.0
flask-cors==5.0.1
gunicorn
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
numpy==2.0.2
scikit-learn==1.6.1