.App {
  text-align: center;
}

.App-header-hp {
  background-color: #073B4C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header {
  background-color: #073B4C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:first baseline;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 100px;
}

.homePageButton, .mainMenuButton, .mainMenuLevelsButton {
  /* font-weight: bold; */
  font-size: 20px; 
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: #f0839d;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.homePageButton:hover, .mainMenuButton:hover, .mainMenuLevelsButton:hover {
  background-color: #EF476F;
}

.hint-button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #14aadc;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.3s;

  width: 140px;
  height: 40px; 
  font-size: 20px; 
  padding: 10px 20px;
  margin: 10px;
}

.hint-button:hover {
  background-color: #024e67;
}

.hint-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.85);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 1000;
  color: white;
}

.hint-popup h3 {
  margin-bottom: 10px;
}

.hint-popup .grid {
  display: inline-block;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
}


.goHomeButtonDiv {
  position: fixed;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.MM {
  position: fixed;
  top: 30%
}

.SwapCellsButton {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #08d49e;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  width: 140px;
  height: 40px; 
  font-size: 20px; 
  padding: 10px 10px;
  margin: 10px;
}

.SwapCellsButton:hover {
  background-color: #068d69;
  
}